:root {
    --primary-color: #ea3983;
    --gap: 3rem;
}

.menu {
    position: fixed;
    width: 100%;
    background-color: rgb(37, 36, 37);
    z-index: 1000; 
    top: 0; 
    left: 0;
    height: 60px; 
}

.menu-content {
    display: flex;
    align-items: center;
    padding: 0 var(--gap);
    height: 100%;
}
main {
    margin-top: 60px; 
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.menu-content img {
    min-height: auto;
    max-width: 10rem;
    border-radius: 2.5rem;
}

.menu-content h1 {
    font-weight: 900;
    padding-left: 4rem;
}

.menu-content h1 span {
    font-weight: 500;
    font-style: italic;
    font-size: 25px;
}

.nav-pages {
    margin-left: auto;
    display: flex;
    gap: var(--gap);
}

.nav-pages ul {
    display: flex;
    list-style: none;
}

.nav-pages ul li a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #ffffff;
}

.menu ul li a:hover {
    font-weight: 700;
    color: var(--primary-color);
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

header div h1 {
    color: white;
    font-size: 30px;
}

#home {
    background-color: #353333;
}

#about-us {
    background-color: rgb(255, 255, 255);
}

#contact-us {
    background-color: rgb(219, 130, 219);
}

#system {
    background-color: rgb(255, 255, 255);
    padding: 9px;
    margin: auto;
}

.learning-content {
    padding: 20px;
}
