* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #FFF1F8 !important;
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.home {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5.0rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 500;
}

section {
    height: 100vh;
}

header section nav ul {
    display: flex;
}

/* CSS Sistema Respiratório */
.subtitulo {
    font-size: 35px;
    margin-left: 20%;
}

.Border_topics {
    font-size: 5.0rem;
    background-color: #ece6e6;
    margin-top: 2%;
    text-align: left;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 8px;
}

.Border_topics a {
    font-size: 20px;
    text-decoration: none;
    text-align: left;
    color: black;
    padding: 5%;
}

.Border_topics p {
    font-size: 15px;
    color: rgb(88, 87, 87);
    padding: 3%;
}

/* CSS Anatomia */
.body-anatomy {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.main-anatomy {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.interactive-3d, .learning-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Ajuste para telas maiores */
@media (min-width: 768px) {
    .main-anatomy {
        flex-direction: row; /* Alinha lado a lado */
    }

    .interactive-3d {
        flex: 1; /* Ajusta o tamanho do modelo 3D */
    }

    .learning-content {
        flex: 1; /* Ajusta o tamanho do texto */
        margin-left: 20px; /* Espaçamento entre o modelo 3D e o texto */
    }
}
